<div>
  <h1>{{model.leaderboardName}}</h1>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |s|}}
        <tr>
          <td>{{s.user.username}}</td>
          <td>{{s.score}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
