.leaderboard {
  .podium {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .winner {
    width: 25%;

    &__avatar {
      img {
        border-width: 5px;
      }
    }

    &.-position1 {
      width: 30%;
    }
  }

  .ranking {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .ranking-col-names {
    top: 75px;
    padding: 1rem 2rem 0.25rem 2rem;
  }
}
