.leaderboard-admin {
  &__title {
    display: inline-block;
  }

  &__cta-new {
    display: flex;
    margin-top: 1rem;
  }

  &__btn-recalculate {
    float: right;
    margin-right: 1rem;
  }

  &__btn-new {
    float: right;
  }

  &__btn-back {
    margin-bottom: 1rem;
    padding-left: 0;
  }

  &__listitem-action {
    width: 50px;
    text-align: right;
  }
}

.leaderboard-edit {
  &__cancel {
    margin-left: 1rem;
  }
}
